
body {
  height: 100%;
  background-color: gray;
}


.container {
  max-width: 100%;
  text-align: left;
  margin: 0px !important;
  padding: 0 10px !important;
  display:flex;justify-content:left;align-items:left
}

.all-container {
  width: 80%;
  height: 80%;
  margin: 100px auto;
  padding: 20px;
  background-color: #2a2a2b;
  text-align: center;
}


.chart-container {
  position: relative;
  margin: auto;
  margin-bottom: 80px;
  height: 50vh;
  width: 100%;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  color: white;
  text-shadow: 0px 0px 2px black;
  letter-spacing: 6px;
  font-size: 1em;
  margin-bottom: 20px;
}



.freq {
  
}

input {
  max-width: 125px;
}


p,a {
  display: inline-block;
  font-family: 'Cutive Mono', monospace;
  margin: 0px 5px;
  font-size: 0.8em;
  text-shadow: 0px 0px 0.2px black;
  padding: 5px;
}

a {
   background-color: black;
   color: white;
}

.add-container, .stock-container{
  margin-right: 25px;
  margin-bottom: 25px;
  display: inline-block;
  width: 323px;
  height: 160px;
  background-color: white;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: gray;
  padding: 20px;
}



.fa {
  float: right;
}

.time{
  text-align: right;
  float: right;

  }




i:hover {
  cursor: pointer;
}

.name {
  color: black;
  text-shadow: none;
  font-size: 1.5em;

}

.desc {
  margin: 0;
  padding: 0;
  size: 1.6em;
}

label {
  font-size: 0.8em !important;
  text-align: center;
  min-width: 100%;
  font-family: 'Cutive Mono', monospace;
}

input {
  margin-top: 20px;
  min-width: 84% !important;
}

button {
  margin-top: 20px;
  width: 30%;
}


.error{
  height: 20px;
  font-family: 'Cutive Mono', monospace;
  color: red;
  display: inline-block;
  text-align: center;
  position: relative;
  font-style: bold;
  left: 10px;
  top: 10px;
}


i:hover {
  color: gray;
}


.stock-container{
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}